.apple-manu{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 30px;
    align-items: center;
}

.fa-search{
    padding-right: 20px;
}
.fa-bars{
    padding-left: 20px;
}

.apple-manu__bar i{
    color: white;
}

.apple-manu__wrapper{
position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.apple-manu__bar:first-child i:active{
 color:rgba(255, 0, 0,0.6) ;
}